<!DOCTYPE html>
<html>
<head>
    <title>{$treaty['title']}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <script src="../addons/ching_leeing/template/mobile/default/static/js/jquery-1.9.1.min.js?v=1"></script>
    <link rel="stylesheet" type="text/css" href="../addons/ching_leeing/template/mobile/default/static/css/weui.min.css">
    <style type="text/css">
        .xpjc-layout-footer{
            height: 55px;
        }
        body{
            max-width: 640px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="xpjc-layout-header">
</div>
<div class="xpjc-layout-content">
    <article class="weui_article">
        <section>
            {$treaty['detail']}
        </section>
    </article>
</div>
<div class="xpjc-layout-footer">
</div>
</body>
</html>